h1,
p,
nav {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.topNavbar {
  background-color: grey;
  padding: 10px;
}

strong.labelname {
  font-size: 20px;
}

* {
  text-decoration:none;
}

.container div{
  display: flex;
  border: 1px #ccc solid
}

.box1 {
  flex:1;
}
.box2 {
  flex:4;
  justify-content: center;
  float: left;
  width: 25%;
  padding: 10px;
}

/* Float four columns side by side */
.column {
  
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.product-image {
  width: 120px;
  height: 80px;
}

.box3 {
  flex:2;
  padding: 20px;
}



